.sidebar li {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 101.1%;
  /* or 17px */

  letter-spacing: 0.05em;

  color: #9a9a9a;
}
.sidebar h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 101.1%;
  /* or 20px */

  letter-spacing: 0.03em;

  color: #161616;
}
.sidebar li img {
  width: 16.5px;
  height: 17.2px;
}
.sidebar {
  width: 32%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logout {
  position: relative;
  left: 3rem;
}
.sidebar .head {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 3rem;
}

.home {
  display: flex;
  align-items: center;
  width: 100%;
}
.projects-div {
  width: 71%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.user-name p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 101.1%;
/* or 17px */

letter-spacing: 0.05em;

color: #3A3A3A;

}
.user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-right: 45px;
}
.search-bar p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 101.1%;
  /* or 17px */

  letter-spacing: 0.05em;

  color: #9a9a9a;
}
.users {
  height: 21px;
  width: 90px;
  object-fit: cover;
}
.user-name img {
  width: 45px;
  height: 45px;
  margin-left: 15px;
}
.search {
    
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 2.4rem;
}
.user-list h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 101.1%;
/* or 14px */

letter-spacing: 0.05em;

color: #212121;
}
.user-list p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 101.1%;
/* or 12px */

letter-spacing: 0.05em;

color: rgba(33, 33, 33, 0.58);
}


.user-list{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.user-list img{
    width: 47px;
    height: 47px;
}
.users-modal-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 2rem;
}
.users-modal{
    position: absolute;
    width: 524px;
    height: 77%;
    left: 26%;
    /* overflow-y: scroll; */
    top: 10%;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(72 174 174 / 7%);
    border-radius: 22px;
}
.users-modal-nav p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 101.1%;
/* or 18px */

letter-spacing: 0.05em;

color: #212121;
}
.users-modal ul{
    list-style: none;
    overflow-y: scroll;
    width: 91%;
    height: 22rem;
}

.backdrop{
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    position: absolute;
}